@import "base.css";

body {
    color: #333;
}

div.wrapper {
    width: 900px;
    margin: 0 auto;
}

div.header {
    background: #EEE;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -opera-border-radius: 30px;
    border-radius: 30px;
    padding: 70px 0 30px;
    text-align: center;
    position: relative;
    top: -50px;
    margin-bottom: -30px;
    -webkit-box-shadow:5px 5px 8px #444;
}

div.header h1 {
    margin: 0;
    font-size: 500%;
    font-family: "Times New Roman",serif;
    font-style: italic;
    text-shadow: 4px 4px 7px #666;
}

div.header h1 a {
    text-decoration: none;
    color: #222;
}

div.footer {
    text-align: right;
    margin-top: 40px;
    padding: 10px;
    border-top: 2px solid #333;
}

div.main {
    padding: 10px 0;
}

h2 {
    font-size: 143%;
    color: #600;
    padding-top: 20px;
    text-shadow: 2px 2px 4px #555;
}

h3 {
    margin: 40px 0 20px;
    font-size: 115%;
    background: #EFEFEF;
    color: #000;
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    padding: 10px;
    -webkit-box-shadow:5px 5px 8px #444;
}

div.top ul {
    padding: 15px 10px 15px 35px;
    margin-bottom: 40px;
}

div.top ul li {
    margin: 10px 0;
}
